<!-- <div class="navigacija">

    <button class="btn btn-success" [routerLink]="''">Pocetna</button>
    <button  class="btn btn-warning" [routerLink]="'treca'">Treca</button>

</div> -->


<nav class="navbar navbar-expand bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link"  [routerLink]="''"> Pocetna </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  [routerLink]="'treca'"> Treca </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  [routerLink]="'drzave'"> Drzave </a>
        </li>
    </ul>
</nav>
   
