h1 {
    color: black;
    text-align: center;
    margin: 50 auto;
    width: 100%;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    width: 30%;
    margin: 10px;
}

.card-title {
    font-weight: 500;
    font-size: 20px;
}